{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="flex justify-center items-center">
    <div class="card w-96 bg-base-100 shadow-xl p-6">
        <h2 class="text-2xl font-bold text-center">Регистрация</h2>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            {{ form_fieldset }}
        </form>
        <p class="text-center mt-4">
            Есть аккаунт? <a href="{% url 'users:login' %}" class="text-primary">Войдите</a>
        </p>
    </div>
</div>
{% endblock %}
